{% extends 'base.html.twig' %}

{% block title %}Hello PaymentPathController!{% endblock %}

{% block stylesheets %}
    <!-- Bootstrap CSS -->
    <script src="https://kit.fontawesome.com/42cb960523.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link href="{{ asset('/css/general2.css') }}" rel="stylesheet"/>
    <link href="{{ asset('/css/tunnel-achat.css') }}" rel="stylesheet"/>

{% endblock %}

{% block menu %}

{% endblock %}

{% block body %}

    {% if app.user %}
    <section id="header-achat">
        <div class="container">

            <div class="row">
                <div class="col-1">
                    <a href="{{ path('app_index_index') }}">
                        <img style="margin-top: 26px;" src="{{ asset('img/Backward-arrow.png') }}" alt="flèche de retour">
                    </a>
                </div>
                <div class="col-11">
                    <h3 style="text-align: center;margin-bottom: 2rem;margin-top: 30px;" class="titre-header">LIVRAISON</h3>
                </div>
                <div class="col-8">
                    <h2>Le panier basique</h2>
                </div>
                <div id="indication-prix" class="col-4">
                    <h3 class="prix">19.90<sup>€</sup><br></h3>

                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <span class="separator"></span>
                    <h4 style="margin-left: 30px;margin-bottom: 1rem;">6kg</h4>
                </div>
            </div>
        </div>
    </section>

        <section id="choix-reception">
            <div class="container">
                <div id="barre-prog" class="row">
                    <div class="progression active"></div>
                    <div class="progression"></div>
                    <div class="progression"></div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h2>Le panier basique</h2>
                    </div>
                </div>
            </div>
        </section>

    <form>
        <div class="form-reception">
            <div class="container">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Je viens le récupérer au 6 bis Rue Chaudron
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Je souhaite le recevoir chez moi<sup>(+3€)</sup>
                    </label>
                </div>

                <div class="form-row align-items-center">
                    <div class="col-12">
                        <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                        <select class="custom-select  mr-sm-2" id="inlineFormCustomSelect">
                            <option selected>Quel horaire vous convient le mieux ?</option>
                            <option value="1">Le mercredi entre 17:30 et 19:00</option>
                            <option value="2">Le samedi entre 17:30 et 19:00</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <section class="validation">
        <div class="container">
            <div id="bouton" class="row">
                <div class="col-12 col-md-7 col-lg-6 col-xl-4 text-center mx-auto">
                    <button class="btn btn-primary btn-block">Suivant </button>
                </div>
            </div>
        </div>
    </section>
    {% else %}
        <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: block; padding-right: 15px;">
            <div class="pop-in container mt-5 pb-5">
                <form method="post">
                    <div class="container py-5">
                        <div class="col-12 text-center">
                            <h2>Connexion</h2>
                        </div>
                    </div>

                    <div>
                        <div class="row connexion">
                            <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">

                                {% if app.user %}
                                    <div class="mb-3">
                                        Vous êtes déjà connecté {{ app.user.firstname }}, <a href="{{ path('app_logout') }}">Logout</a>
                                    </div>
                                {% endif %}

                                <input id="staticEmail" class="form-control my-5" placeholder="Email" type="email" name="email" required autofocus>
                                <input id="inputPassword" class="form-control mb-5" placeholder="Mot de passe" type="password" name="password" required>

                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}"
                                >

                                {#
                                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                    See https://symfony.com/doc/current/security/remember_me.html

                                    <div class="checkbox mb-3">
                                        <label>
                                            <input type="checkbox" name="_remember_me"> Remember me
                                        </label>
                                    </div>
                                #}
                            </div>
                        </div>
                    </div>
                    <div class="row mx-2 mt-5">
                        <div class="col-12">
                            <button class="w-50 mx-auto btn btn-lg btn-primary btn-block" type="submit">
                                Se connecter
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div style="filter: blur(0.5rem)">
            <section id="header-achat">
                <div class="container">

                    <div class="row">
                        <div class="col-1">
                            <img style="margin-top: 26px;" src="{{ asset('img/Backward-arrow.png') }}" alt="flèche de retour">
                        </div>
                        <div class="col-11">
                            <h3 style="text-align: center;margin-bottom: 2rem;margin-top: 30px;" class="titre-header">LIVRAISON</h3>
                        </div>
                        <div class="col-8">
                            <h2>Le panier basique</h2>
                        </div>
                        <div id="indication-prix" class="col-4">
                            <h3 class="prix">19.90<sup>€</sup><br></h3>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <span class="separator"></span>
                            <h4 style="margin-left: 30px;margin-bottom: 1rem;">6kg</h4>
                        </div>
                    </div>
                </div>
            </section>

            <section id="choix-reception">
                <div class="container">
                    <div class="row">
                        <div class="col-12" style="margin-top: 30px;margin-bottom: 30px;">
                            <img class="img-fluid col-8 offset-2" src="{{ asset('img/barre-prog1@2x.png') }}" alt="barre de progression du processus d'achat">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h2>Le panier basique</h2>
                        </div>
                    </div>
                </div>
            </section>

            <form>
                <div class="form-reception">
                    <div class="container">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                Je viens le récupérer au 6 bis Rue Chaudron
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                Je souhaite le recevoir chez moi<sup>(+3€)</sup>
                            </label>
                        </div>

                        <div class="form-row align-items-center">
                            <div class="col-12">
                                <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                                <select class="custom-select  mr-sm-2" id="inlineFormCustomSelect">
                                    <option selected>Quel horaire vous convient le mieux ?</option>
                                    <option value="1">Le mercredi entre 17:30 et 19:00</option>
                                    <option value="2">Le samedi entre 17:30 et 19:00</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <section class="validation">
                <div class="container">
                    <div id="bouton" class="row">
                        <div class="col-12 col-md-7 col-lg-6 col-xl-4 text-center mx-auto">
                            <a role="button" class="btn btn-primary btn-block" href="{{ path('app_paymentpath_index2') }}">Suivant</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    {% endif %}
{% endblock %}

{% block footer %}

{% endblock %}
