{% extends 'base.html.twig' %}

{% block title %}

{% block body %}
    <header class="container">
        <h1>Données de livraison</h1>
    </header>

    <section class="container">
        {{ form_start(form) }}
            {{ form_row(form.firstname) }}
            {{ form_row(form.lastname) }}
            {{ form_row(form.address) }}
            {{ form_row(form.city) }}
            {{ form_row(form.postalcode) }}
            {{ form_row(form.country) }}

            <button type="submit" class="btn btn-primary">Enregistrer</button>
        {{ form_end(form) }}
    </section>

{% endblock %}