{% extends 'base.html.twig' %}

{% block title %}Hello AddressController!{% endblock %}

{% block body %}
    <header class="container">
        <h1>Données de livraison</h1>
    </header>

    <section class="container">
        {{ form_start(addressForm) }}
        {{ form_row(addressForm.firstname) }}
        {{ form_row(addressForm.lastname) }}
        {{ form_row(addressForm.city) }}
        {{ form_row(addressForm.addressHome) }}
        {{ form_row(addressForm.postalcode) }}

        <button type="submit" class="btn btn-primary">Enregistrer</button>
        {{ form_end(addressForm) }}
    </section>
{% endblock %}
