{% extends 'base.html.twig' %}

{% block title %}Adresse{% endblock %}

{% block body %}
    <header class="container">
        <h1>Données de livraison</h1>
    </header>

    <section class="container">
        {{ form_start(addressForm) }}
        {{ form_row(addressForm.firstname, {'attr': {'value': app.user.firstname}, 'label': 'Prénom'}) }}
        {{ form_row(addressForm.lastname, {'attr': {'value': app.user.lastname}, 'label': 'Nom'}) }}
        {{ form_row(addressForm.city, {'label': 'Ville'}) }}
        {{ form_row(addressForm.addressHome, {'label': 'Rue'}) }}
        {{ form_row(addressForm.postalcode, {'label': 'Code Postal'}) }}

        <button type="submit" class="btn btn-primary">Enregistrer</button>
        {{ form_end(addressForm) }}
    </section>
{% endblock %}
